body {
  font: 14px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.box {
  width: 1226px;
  background: pink;
  margin: 0 auto;
  overflow: hidden;
  padding: 32px 0 12px 0;
}
.box .minbox {
  width: 606px;
  background: yellow;
  float: left;
}
.box .right {
  float: right;
  height: 200px;
}
.box .right h1 {
  font-size: 24px;
  color: #212121;
}
.box .right .sale-desc {
  color: #b0b0b0;
  padding-top: 8px;
  font-size: 14px;
}
.box .right .pro-price {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #ff6700;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0 20px;
}
.box .right .zengpin {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.box .right .zengpin li {
  margin-bottom: 5px;
}
.box .right .zengpin li span {
  display: inline-block;
}
.box .right .zengpin li .flow-tag {
  width: 80px;
  padding: 2px 0;
  text-align: center;
  background: #ff6700;
  color: #fff;
}
.box .right .zengpin li .flow-name {
  width: 430px;
  line-height: 26px;
  margin-left: 5px;
}
.box .right .box_b .site {
  margin: 40px 0;
}
.box .right .box_b .site .site_a {
  background: #fafafa;
  border: 1px solid #e0e0e0;
  padding-left: 50px;
  padding: 30px 40px 30px 32px;
}
.box .swiper-container {
  width: 560px;
  height: 560px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 60px;
  height: 2px;
  background: #666;
}
