body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
}
.box {
  width: 1226px;
  margin: 0 auto;
  overflow: hidden;
  padding: 32px 0 50px 0;
}
.box .minbox {
  width: 606px;
  float: left;
}
.box .right {
  float: right;
}
.box .right h1 {
  font-size: 24px;
  color: #212121;
}
.box .right .sale-desc {
  color: #b0b0b0;
  padding-top: 8px;
  font-size: 14px;
}
.box .right .pro-price {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #ff6700;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0 20px;
}
.box .right .zengpin {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.box .right .zengpin li {
  margin-bottom: 5px;
}
.box .right .zengpin li span {
  display: inline-block;
}
.box .right .zengpin li .flow-tag {
  width: 80px;
  padding: 2px 0;
  text-align: center;
  background: #ff6700;
  color: #fff;
}
.box .right .zengpin li .flow-name {
  width: 430px;
  line-height: 26px;
  margin-left: 5px;
}
.box .right .box_b .site {
  margin: 40px 0;
}
.box .right .box_b .site .site_a {
  background: #fafafa;
  border: 1px solid #e0e0e0;
  padding-left: 50px;
  padding: 30px 40px 30px 50px;
  position: relative;
}
.box .right .box_b .site .site_a i {
  font-size: 20px;
  color: #999;
  position: absolute;
  left: 20px;
  top: 26px;
}
.box .right .box_b .site .site_a .item {
  margin-right: 14px;
}
.box .right .box_b .site .site_a .switch-choose-regions {
  color: #ff6700;
}
.box .right .box_b .price {
  width: 546px;
  padding: 30px;
  background: #f9f9fa;
  margin-bottom: 30px;
}
.box .right .box_b .price li {
  line-height: 30px;
  color: #616161;
}
.box .right .box_b .price li span {
  float: right;
}
.box .right .box_b .price .totlePrice {
  color: #ff6700;
  font-size: 24px;
  padding-top: 20px;
}
.box .right .box_b .car a {
  text-align: center;
  display: inline-block;
  width: 298px;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
  margin-right: 15px;
  float: left;
}
.box .right .box_b .car .like {
  width: 140px;
  height: 52px;
  line-height: 52px;
  padding: 0;
  margin: 0;
  text-align: center;
  background: #b0b0b0;
}
.box .right .box_b .car i {
  font-size: 22px;
}
.box .right .box_b .car div {
  float: left;
}
.box .swiper-container {
  width: 560px;
  height: 560px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 60px;
  height: 2px;
  background: #666;
}
.swiper-button-prev {
  margin-top: -34.5px;
  left: 0;
  width: 41px;
  height: 69px;
  background: url(../images/icon-slides.png) no-repeat;
  background-position-x: -83px;
}
.swiper-button-prev:hover {
  background: url(../images/icon-slides.png) no-repeat;
}
.swiper-button-next {
  margin-top: -34.5px;
  right: 0;
  width: 41px;
  height: 69px;
  background: url(../images/icon-slides.png) no-repeat;
  background-position-x: -125px;
}
.swiper-button-next:hover {
  background: url(../images/icon-slides.png) no-repeat;
  background-position-x: -42px;
}
