body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
}

.header {
    border-bottom: 2px solid #ff6700;
    .container {
        width: 1226px;
        height: 74px; // background: pink;
        margin: 0 auto;
        margin-bottom: 26px;
        .logo {
            width: 93px;
            height: 48px;
            padding-top: 26px;
            float: left;
        }
        .has-more {
            position: relative;
            margin-top: 26px;
            float: left;
            h2 {
                font-size: 28px;
                float: left;
            }
            p {
                // display: block;
                float: left;
                line-height: 20px;
                margin: 20px 0 0 20px;
                font-size: 12px; // position: absolute;
                // bottom: 20px;
            }
        }
    }
}

.box_shop {
    background: #f5f5f5;
    padding: 38px 0;
    .shop {
        width: 1226px;
        margin: 0 auto;
        background: pink;
        height: 2000px;
        .shop_header {
            height: 70px; // background: yellow;
            border-bottom: 1px solid #e0e0e0;
            padding-right: 26px;
            .kong {
                width: 230px; // height: 70px;
            }
            div {
                float: left;
                height: 70px;
                color: #424242;
                line-height: 70px;
            }
        }
        .shop_content {
            padding-right: 26px;
            padding: 15px 15px 15px 0;
            .shop_li {
                height: 86px;
                background: yellow;
                div {
                    float: left;
                    height: 86px;
                    color: #424242;
                    line-height: 86px;
                    
                }
                .kong_2{
                    width: 110px;
                }
                .shop_img{
                    width: 120px;
                }
                .shop_total{
                    color: #ff6700;
                }
            }
        }
        .shop_name {
            width: 380px;
            text-align: left;
            font-size: 18px;
        }
        .shop_price {
            width: 75px;
            padding-right: 84px;
            text-align: right;
            font-size: 16px;
        }
        .shop_num {
            width: 150px;
            text-align: center;
        }
        .shop_total {
            width: 201px;
            text-align: center;
            font-size: 16px;
        }
        .shop_action {
            width: 80px;
            text-align: center;
        }
    }
}